<div class="mx-1">
  <h1 class="text-lg text-green-600">
    {{name}}
  </h1>
  {{#if isSuperSite}}
    <span class="text-base text-blue-600">{{ t "super_site" }}</span>
  {{/if}}

  <div>
    {{#if address}}
        <a class="text-sm pt-2" href="{{addressLink}}" target="_blank">{{address}}</a>
        {{#if website}}
            &middot;
        {{/if}}
    {{/if}}
    {{#if website}}
        <a class="text-sm" href={{website}} target="_blank">{{ t "website" }}</span>
    {{/if}}
  </div>
</div>
