<div class="mx-2">
  <h1 class="text-lg text-green-600">
    {{name}}
  </h1>

  <div class="flex flex-col text-sm mt-2">
    {{#if address}}
        <a class="my-1" href="{{addressLink}}" target="_blank">{{address}}</a>
    {{/if}}
    {{#if website}}
        <a class="my-1" href={{website}} target="_blank">{{ t "website" }}</span>
    {{/if}}
  </div>
</div>
