<li id="{{id}}" class="site-card rounded-lg relative grid grid-cols-1
     shadow border bg-white">
    <div class="flex flex-row justify-between p-4">
        <div class="me-2 flex-1">
            <h4 class="font-bold text-lg">
                {{name}}
            </h4>
            <a class="text-sm" href="{{addressLink}}" target="_blank">{{address}}</a>
        </div>
        {{#if action}}
            <a class="rounded-full bg-green-600 self-center px-4 py-2 text-white hover:bg-green-700 whitespace-nowrap text-sm flex" 
                    href="{{action.href}}" 
                    {{#if action.isSite}}target="_blank"{{/if}}>
                <img class="h-5 me-1" src="/assets/img/{{#if action.isSite}}link_white{{else}}phone_white{{/if}}.svg" />
                <span>{{t action.label}}</span>
            </a>
        {{/if}}
    </div>
    <details>
        <summary class="px-4 py-2 outline-none cursor-pointer">
            {{t "more_details"}}
        </summary>
        {{#if appointmentDetails}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "appointment_details"}}</h5>
                <div class="text-sm break-all">
                    {{{appointmentDetails}}}
                </div>
            </div>
        {{/if}}
        {{#if hours}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "hours"}}</h5>
                <p class="text-sm">{{hours}}</p>
            </div>
        {{/if}}
        {{#if notes}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "notes"}}</h5>
                <div class="text-sm">
                    {{{notes}}}
                </div>
            </div>
        {{/if}}
        {{#if moreInfo}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{{t "more_information"}}}</h5>
                <div class="flex flex-row flex-wrap justify-between text-sm">
                    {{#if website}}
                        <div class="flex flex-row">
                            <img class="h-5 mb-1 me-2" src="/assets/img/link.svg" />
                            <a href="{{website}}" class="break-all" target="_blank">{{website}}</a>
                        </div>
                    {{/if}}
                    {{#if phoneNumber}}
                        <div class="flex flex-row">
                            <img class="h-5 me-2" src="/assets/img/phone.svg" />
                            <a href="tel:{{phoneNumber}}">{{phoneNumber}}</a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="flex flex-row justify-between px-4 py-2 text-sm">
            <div class="grid grid-col-1">
                {{#if vaccinefinder}}
                    <p>
                        {{t "data_from"}}
                        <a href="https://vaccinefinder.org" target="_blank">VaccineFinder</a>
                    </p>
                {{/if}}
                {{#if vaccinespotter}}
                    <p>
                        {{t "data_from"}}
                        <a href="https://www.vaccinespotter.org" target="_blank">Vaccine Spotter</a>
                    </p>
                {{/if}}
                {{#if google}}
                    <p>{{t "data_from"}} Google</p>
                {{/if}}
            </div>
            <div class="text-right">
                {{t "correction" }}
                <a href="https://airtable.com/shrdt7TsVi76kTzYt?prefill_Location+ID={{id}}" target="_blank">{{t "correction_link"}}</a>
            </div>
        </div>
    </details>
</li>
