{{#*inline "offersVaccine"}}
    <div class="flex flex-row items-center {{#unless last}}me-4{{/unless}} {{#if offersVaccine}}opacity-100{{else}}opacity-50{{/if}}">
        {{#if offersVaccine}}
            <img class="h-5" src="/assets/img/checkmark-outline.svg" />
        {{else}}
            <img class="h-5" src="/assets/img/close-outline.svg" />
        {{/if}}
        <span dir="ltr">{{name}}</span>
    </div>
{{/inline}}

<li id="{{id}}" class="site-card rounded-lg relative grid grid-cols-1
     shadow border bg-white">
    <div class="flex flex-row justify-between px-4 pt-4">
        <div class="me-2 flex-1">
            <div class="inline">
                <button title="{{t "copy_link_alt" }}" alt="{{t "copy_link_alt"}}" class="copy-button js-copy-button relative top-1" data-clipboard-text={{shareUrl}}>
                    <img class="copy-button__img h-5" src="/assets/img/link.svg" />
                    <img class="copy-button__img-hover h-5 hidden" src="/assets/img/link_green.svg" />
                </button>
                <h4 class="font-bold text-lg inline" dir="ltr">
                    {{name}}
                </h4>
            </div>
            <div class="mb-2 text-sm">
                <a href="{{addressLink}}" target="_blank" dir="ltr">{{address}}</a>
            </div>
        </div>
        <div class="flex flex-col">
            {{#if action}}
                <a class="self-end rounded-full bg-green-600 px-4 py-2 mb-2 text-white hover:bg-green-700 whitespace-nowrap text-sm flex"
                        href="{{action.href}}"
                        {{#if action.isSite}}target="_blank"{{/if}}>
                    <img class="h-5 me-1" src="/assets/img/{{#if action.isSite}}link_white{{else}}phone_white{{/if}}.svg" />
                    {{#if action.isCall}}
                        <span class="inline lg:hidden">{{t action.label}}</span>
                        <span class="hidden lg:inline" dir="ltr">{{phoneNumber}}</span>
                    {{else}}
                        <span>{{t action.label}}</span>
                    {{/if}}

                </a>
            {{/if}}
        </div>
    </div>

    <div class="flex flex-col justify-between px-4 pb-2">
        {{#if availabilityKnown}}
            <div class="flex flex-row text-xs {{#if vaccinesKnown}}mb-2{{/if}}">
                {{#if appointmentsAndWalkins}}
                    <span class="rounded-full bg-gray-200 px-2 py-1 text-black whitespace-nowrap flex me-2">{{t "walkin_accepted" }}</span>
                    <span class="rounded-full bg-gray-200 px-2 py-1 text-black whitespace-nowrap flex">{{t "appointments_accepted" }}</span>
                {{else}}
                    {{#if walkins}}
                        <span class="rounded-full bg-gray-200 px-2 py-1 text-black whitespace-nowrap flex me-2">{{t "walkin_only" }}</span>
                    {{/if}}
                    {{#if appointments}}
                        <span class="rounded-full bg-gray-200 px-2 py-1 text-black whitespace-nowrap flex">{{t "appointments_required" }}</span>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}

        {{#if vaccinesKnown}}
            <div class="flex flex-row flex-wrap text-sm">
                {{> offersVaccine offersVaccine=offersModerna name=(t "moderna")}}
                {{> offersVaccine offersVaccine=offersPfizer name=(t "pfizer")}}
                {{> offersVaccine offersVaccine=offersJJ name=(t "jj") last=true}}
            </div>
        {{/if}}
    </div>

    <details>
        <summary class="px-4 pb-2 outline-none cursor-pointer">
            {{t "more_details"}}
        </summary>
        {{#if appointmentDetails}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "appointment_details"}}</h5>
                <div class="text-sm break-words" dir="ltr">
                    {{{appointmentDetails}}}
                </div>
            </div>
        {{/if}}
        {{#if hours}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "hours"}}</h5>
                <p class="text-sm" dir="ltr">{{hours}}</p>
            </div>
        {{/if}}
        {{#if offersPfizer}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{t "notes"}}</h5>
                <div class="text-sm">
                    {{t "guardian_pfizer"}}
                </div>
            </div>
        {{/if}}
        {{#if notes}}
            <div class="grid grid-cols-1 px-4 py-2">
                {{#unless offersPfizer}}<h5 class="font-bold mb-1">{{t "notes"}}</h5>{{/unless}}
                <div class="text-sm" dir="ltr">
                    {{{notes}}}
                </div>
            </div>
        {{/if}}
        {{#if moreInfo}}
            <div class="grid grid-cols-1 px-4 py-2">
                <h5 class="font-bold mb-1">{{{t "more_information"}}}</h5>
                <div class="flex flex-row flex-wrap justify-between text-sm">
                    {{#if website}}
                        <div class="flex flex-row">
                            <img class="h-5 mb-1 me-2" src="/assets/img/link.svg" />
                            <a href="{{httpify website}}" class="break-all" target="_blank" dir="ltr">{{website}}</a>
                        </div>
                    {{/if}}
                    {{#if phoneNumber}}
                        <div class="flex flex-row">
                            <img class="h-5 me-2" src="/assets/img/phone.svg" />
                            <a href="tel:{{phoneNumber}}" dir="ltr">{{phoneNumber}}</a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="flex flex-row flex-wrap justify-between items-end px-4 py-2 text-sm">
            <div>
                {{#if vaccinefinder}}
                    <p>
                        {{t "data_from"}}
                        <a href="https://vaccinefinder.org" target="_blank">
                            <img
                                alt="VaccineFinder"
                                class="inline h-3 mb-1"
                                src="/assets/img/vaccinefinder_logo.png"
                            />
                        </a>
                    </p>
                {{/if}}
                {{#if vaccinespotter}}
                    <p>
                        {{t "data_from"}}
                        <a href="https://www.vaccinespotter.org" target="_blank">Vaccine Spotter</a>
                    </p>
                {{/if}}
                {{#if google}}
                    <p>{{t "data_from"}} Google</p>
                {{/if}}
            </div>
            <div class="text-right">
                {{#if lastVerified}}
                    <div class="text-xs">{{t "verified_at" lastVerified=lastVerified}}</div>
                {{/if}}
            </div>
        </div>
        <div class="flex flex-row flex-wrap justify-between items-end px-4 py-2 text-sm">
            <p>{{t "card_out_of_date"}}</p>
            <p>{{{t "shutdown_forward"}}}</p>
        </div>
    </details>
</li>
